<li id="insertEmbedMedia" data-l10n-id="ep_embedmedia.embed" class="acl-write">
  <a title="Embed Video" data-l10n-id="ep_embedmedia.embed">
        <button class="buttonicon buttonicon-video buttonicon-embed-media" data-align="0" aria-label="Embed Video"></button>
  </a>
</li>
